body {
  background: #f9f7fe;
  color: #272142;
  font-family: "Merriweather", serif;
}
.container {
  max-width: 600px;
  margin: 30px auto;
}
header {
  text-align: center;
  display: block;
  margin: 45px 15px;
}
.form-container {
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
}
